body {
    margin: 0px;
    padding: 157px 0 0 0;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

.header-content {
    background-color: #2b2b2b;
    padding: 2em
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

header, footer {
    color: #ffffff;
}

footer {
    padding: 2em;
    background-color: #2b2b2b;
}

footer p {
    margin-bottom: 0;
}

header h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

nav {
    background-color: #35992b;
    display: block;
    padding: 1em 2em;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    list-style: none;
    float: left;
    text-align: center;
    margin-right: 2em;
}

nav li a, nav li a span {
    color: #ffffff !important;
    text-transform: uppercase;
    font-weight: 500;
}

nav .glyphicon {
    margin-right: 0.5em;
}

nav li a:hover {
    color : #ffffff;
}

h2 {
    text-transform: uppercase;
    margin: 2em 0 1em 0;
    text-align: center;
    border-bottom: 1px solid #f1eff9;
    padding-bottom: 0.5em;
}

.content-wrapper {
    max-width: 900px;
    margin: 0 auto;
}

.img-wrapper {
    width: 850px ;
    margin: 2em auto;
}

.img-wrapper img {
    margin-right: 50px;
}

.img-wrapper img:last-child {
    margin-right: 0;
}

.jumbotron {
    font-family: 'Helvetica Neue' ,Helvetica, Arial, sans-serif;
    text-align: center;
}

.jumbotron p {
    margin: 0;
    font-size: 21px;
    font-weight: 200;
    text-transform: uppercase;
}

.bg-jumbotron {
    max-width: 900px;
    height: 400px;
    background-image: url('img/bg.jpg');
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em;
    margin-bottom: 2em;
}

.bg-jumbotron p {
    color: #ffffff;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 130px;
}

ul {
    margin: 1em 0;
}

.btn-success {
    background-color: #35992b !important;
}

form {
    margin: 2em 0;
}

.alert {
    display: none;
}
